# Build
target/
**/target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Environment / Secrets
.env
.env.*
!.env.example
application-local.properties
**/application-local.properties
!application-local.example.properties
!**/application-local.example.properties
application-local.yml
**/application-local.yml
!application-local.example.yml
!**/application-local.example.yml


# Logs
*.log

# OS
.DS_Store
Thumbs.db
